$color:white;
$type1:0.7rem;
$type2:1.1rem;
body{
    margin: 0;
   box-sizing: border-box;
   background-color: #001555;
}
header{
    text-align: center;
    width: 100%;
    background-color: #001555;
    h1{
        color: #f8f6f6;
        
    }
}
.container{
    width: 40%;
    margin: auto;
    background-color: #696d79;
    padding: 2rem;
     .type1{
        font-size: $type1;
        color:$color;
    }
     .type2{
        font-size: $type2;
        color:$color;
    }
    
    }
input[type=text], select {
    width:100%;
    height: 2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
input[type=email]{
    width:100%;
    height: 2rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.excomp{
    p{
        margin: 0;
        padding: 0;
    }
    margin-bottom: 1rem;
    margin-top: 0.3rem;

}
.selectors{
    margin-top: 1rem;
    margin-bottom: 0rem;
    p{
        margin-bottom: 0.2rem;
        font-size: $type1;
    }
}
#feedback{
    
        height: 5rem;
    
}
input[type=submit]{
    width: 8rem;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
}
.submitbtn{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
    
}